*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main{
    
    height: 100vh;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    
}
.left-main{
    width: 400px;
    display: flex;
    flex-direction: column;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 8px;

}
.text h2{
    font-size: 30px;
    font-weight: 500;
}
.text h3{
    font-weight: 500;
    font-size: 19px;
}
.text p{
    font-size: 13px;
    color: rgb(134, 118, 118);
}
.text a{
    color: rgb(91, 91, 225);
    /* cursor: pointer; */
}

.left-img{
    height: 400px;
    /* margin-top: -50px; */
}


.right-main{
    width: 300px;
    height: 450px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.right-main h2{
    font-size: 25px;
    font-weight: 400;
}
.right-main p{
    font-size: 13px;
    color: rgb(134, 118, 118);
    width: 300px;
    display: flex;
    justify-content: center;

}
